*{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  box-sizing: border-box;
  
  padding: 0;
  margin: 0;

  text-decoration: none;
  outline: none;
}

header,
header a,
main .hero,
footer{
  background: #1F2937;
  color: #F9FAF8;
}

main > div{
  padding: 2rem 0;
  display: flex;
}

main .hero h1{
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
}

main .hero p{
  color: #E5E7EB;
  font-size: 18px;
}

body{
  height: 100dvh;

  display: grid;
  grid-template-rows: 50px 1fr 50px;
}

.container{
  width: min(90rem, 75%);
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

header .container,
main .hero .container{
  justify-content: space-between;
}

nav{
  padding-top: 8px;
}

.links a + a{
  margin-left: 8px;
}

main{
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}

main .heroText{
  width: 450px;
}

main button{
  background: #3882F6;

  font-weight: 900;
  color: #F9FAF8;

  width: 125px;
  height: 30px;
  
  border: none;
  border-radius: 5px;
}

main .heroText button,
.heroText p{
  margin-top: 8px;
}

main .heroImg{
  background: #777E85;

  width: 450px;
  height: 200px;

  text-align: center;
  padding-top: 100px;
}

main .information .container{
  font-size: 32px;
  font-weight: 900;
  color: #1F2937;
  
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
}

main .information .itemContainer{
  width: min(90rem, 90%);
  
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

main .information .item{
  display: flex;
  flex-direction: column;
  text-align: center;

  flex: 0 1 140px;
}

main .information .card{
  height: 140px;
  border: 5px solid #3882F6;
  border-radius: 12px;
}

main .information .itemContainer p{
  margin-top: 1rem;
  font-size: 18px;
  font-weight: 400;
  color: #54595E;
}

main .quote{
  background: #E5E7EB;
}

main .quote .container{
  width: min(70rem, 75%);
  color: #1F2937;
  
  flex-direction: column;
  justify-content: center;
  align-items: end;
  gap: 1rem;
}

main .quote p{
  font-size: 36px;
  font-weight: 300;
  font-style: italic;

}

main .quote span{
  font-size: 25px;
  font-weight: 900;
}

main .signUpCard{
  background: #3882F6;
  color: #F9FAF8;

  width: min(90rem, 100%);

  padding: 2rem 4rem;

  border-radius: 8px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

main span{
  font-size: 1.3rem;
  font-weight: 900;
}

main .signUp p + p{
  margin-top: 0.5rem;
}

main .signUp button{
  border: 1px solid #F9FAF8;
}

footer .container{
  padding: 1rem;

  justify-content: center;
}